*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* header style */
header{
    display: flex;
    justify-content: space-between;
    padding: 44px 150px;
    align-items: center;
}
.header-title{
    display: flex;
    gap: 32px;
    align-items: center;
}
.follow{
    display: flex;
    width: 170px;
    height: 45px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    padding: 0 30px;
}
/* section-1 styles */
.section-1{
    display: flex;
    background-color: rgba(241, 68, 174, 0.03);
    justify-content: space-between;
    padding:100px;
    height: 550px;
    gap: 60px;
}
.section-1 h3{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;

}
.section-1 h2{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-1 p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.sign{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.go{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.first-img{
    max-width: 600px;
}
/* section-2 styles */
.section-2{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.section-2 h2{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-2p{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.section-2-text{
    text-align:right ;
}
.unleash{
    color: #534C64;
    font-weight: 700;
    line-height: 45px;
    font-size: 32px;
}
/* section-3 style */
.video-body{
    margin: 0;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}
.video-section{
    position: relative;
    margin: 10px;

}
.main-photo{
    width: 300px;
    height: 380px;
    border: 2px solid #007bff;
    border-radius: 5px;
}
.overlay{
    position: relative;
}
.hover-photo{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    padding: 150px 140px;
}
.video-section:hover .hover-photo{
    display: block;
}
